:root{
  --text-color:#333;
  --layt-wihyt:#ffffff;
}
/* GLOBAL */
html{
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing:inherit;
}
*{
  margin: 0px;
  padding: 0px;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: rgb(220, 214, 214);
  color: #222;
}
img{
  max-width: 100%;
  height: auto;
}
/* EFECTLAR */
.hov-act:hover{
  opacity: 0.8;
}
.hov-act:active{
  opacity: 0.6;
}
/* CONTAINER */
.container{
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  background-color:#ffffff;
}
/* MAI-CONTANENT */
.main-content{
  flex-grow: 1;
}
/* sait hiro */
.site-hiro-container {
  background-color:#F3D7B7;
  padding-top: 1px;
}

.sate-nav {
  width: 1340px;
  margin:40px auto;
  display: flex;

}
.site-nav-logo {
  flex-grow: 1;
}
.site-nav-logo-link {
  display: flex;
  width: 235px;
  height: 24px;

}
.site-nav-list {
  list-style: none;
  margin: 0px;
}
.site-nav-list-item {
  display:inline-block;
}

.site-nav-list-link{
  text-decoration: none;
  font-size: 12px;
  font-family: "roboto";
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:var(--text-color)

}
.site-nav-list-item:not(:last-child){
  margin-right: 40px;
}

/* SITE HIRO CONTENT */
.site-hiro {
  display: flex;
}
.site-hiro-content {
  width: 100%;
  max-width: 700px;

}
.site-hiro-content-box {
  width: 464px;
  height: 331px;

  margin: 156px 0px 0px 150px;
}
.site-hiro-content-hedig {
  font-family: "roboto";
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  margin: 0px;
  margin-bottom: 24px;
}
.site-hiro-content-text {
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  font-family: 'roboto';
  color:#000;
  margin: 0px;
  margin-bottom: 34px;
}
.site-hiro-content-bt-link {
  display: inline-block;
  width: 199px;
  height: 51px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'roboto';
  letter-spacing: 1px;
  font-size: 14px;
  text-align: center;
  padding:16px 0px ;
  border-radius: 100px;
  color:#fff;
  background-color:#0A775F;
}
.site-hiro-img {
  width: 100%;
  max-width: 710px;
  height: 696px;
  margin-right: -10px;
  background-image: url(../img/sayt-hiro-logo/Rectangle\ 679.png);
}
.site-hiro-img-logo {
  width: 160px;
  height: 160px;
  margin-top: -65px;
  margin-left: -65px;
}
/* MAIN INDEXT WRAPPER */
.main__collection-conteainer {
  width: 100%;
  margin: 20px auto ;
  background-color:#F8F8F2;
  background-image:url(../img/sayt-hiro-logo/Rectangle.png);
}
.main__collection-title {
  width: 100%;
  display: inline-block;
  font-family: 'roboto', sans-serif;
  font-size: 50px;
  line-height: 58px;
  font-weight: 700;
  margin: 50px 0px 80px 0px;
  text-align: center;
}
.main__collection-list {
  width: 100%;
  max-width: 1050px;
  margin: auto;
  padding-bottom: 70px;
}
.main__collection-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.main__collection-item:nth-child(even){
  flex-direction: row-reverse;
}

.main__collection-img {
  flex-shrink: 0;
  width: 450px;
  height: 375px;
  object-fit: cover;

}
.main__collection-info {
  flex-grow: 1;
}
.main__collection-item:nth-child(odd) .main__collection-info{
  padding-left: 100px;
}
.collection-info-header {
  font-size: 48px;
  line-height: 56px;
  font-weight: 500;
  font-family: 'roboto',sans-serif;
}
.collection-info-text {

  font-family: 'roboto',sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
}
/* MAIN FEATURS  */
.main__featurs-wrapper {
  width: 100%;
  height: 935px;

}
.main__featues-container {
  width: 100%;
  height: 703px;
  background-color:#C99B67;
  background-image:url(../img/sayt-hiro-logo/Rectangle.png)

}
.main__featurs-header {
  font-family: 'roboto',sans-serif;
  font-size: 50px;
  font-weight: 58px;
  font-weight: 700;
  text-align: center;
  padding-top: 50px;
  color:var(--layt-wihyt);
}
.main__featurs-text {
  width: 581px;
  font-family: 'roboto',sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color:#d9dcdc;
  margin:10px auto 80px
}
.main__featurs-img-container {
  display: flex;
  justify-content: space-evenly;
}
.main__featurs-img-box {
  width: 433px;
  height: 629px;
}
.featurs-img {
  width: 433px;
  height: 500px;
}
.featurs-box-header {
  font-size: 30px;
  font-weight: 560;
  font-style: normal;
  font-family: 'roboto',sans-serif;
  line-height: 35px;
  margin-top: 20px;
}
.featurs-box-text {
  width: 370px;
  font-size: 18px;
  font-family: 'roboto',sans-serif;
  font-weight: 400;
  line-height: 28px;
  margin-top: 10px;
}
/* MAIN HOW IT WORKS */
.main__how-it-works {
  width: 100%;
  height: 826px;
  background-color:#0A775F;
  background-image:url(../img/sayt-hiro-logo/Rectangle.png);
  padding:50px 30px;
  margin-top: 80px;
  margin-bottom: 50px;
}
.main__works-iner {
  display: flex;
  flex-direction: column;
  align-items:center;
}
.main__works-heading {
  font-family: 'roboto',sans-serif,arial;
  font-size: 50px;
  line-height: 58px;
  font-weight: 700;
  color:#fff;
  text-transform: uppercase;
  margin-bottom: 80px;
}
.main__works-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.works-list-item {
  width: 433px;
  height: 396px;
  background-color: #ffffff;
  padding: 20px 20px 40px 20px;
  margin-bottom: 60px;
}
.works-list-item:not(:last-child){
  margin-right: 20px;
}
.works-item-namber {
  font-size: 64px;
  line-height: 75px;
  font-weight: 400;
  color:#333333;
  text-align: end;
  margin-bottom: 45px;
}
.works-item-heading {
  width: 231px;
  height: 94px;
  font-family: "roboto",arial;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color:#333333;
  margin-bottom: 10px;
}
.works-item-text {
  font-family: "roboto",sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-style: normal;
  font-weight: 400;
  color:#333333;
}
.amin__works-button{
  background-color:#C99B67;
}
/* FOOTER SAIT */
.footer__iner {
  background-color:#F3D7B7;
  background-image: url(../img/sayt-hiro-logo/Rectangle.png);
}

.footer-nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 68px 50px;
}
.site-footer-logo {
  display: flex;
  width: 203px;
  height: 24px;
}
.footer__list {
  list-style: none;
  display: flex;
}
.footer__list-item:not(:last-child){
  margin-right: 30px;
}
.list-item-link {
  text-decoration: none;
  font-size: 17px;
  font-family: "roboto",sans-serif;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:#333333;
}

.list-item-icon{
  width: 30px;
  height: 30px;
}